

<body>

    <div class="container">
        <img src="assets/img/inspirecopy-bg.png" alt="logo">
    </div>

    <div class="container" id="home-phrase">
        <p>Psalm 49:2</p>
        <p>both low and high, rich and poor together!</p>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-focused" id="keyword_input" type="text" placeholder="Keyword ex. love, stress, etc.">
        </div>
    </div>
    <button class="button is-link is-light" id="search_button">
        <span class="icon">
            <i class="fas fa-cross"></i>
        </span>
        <span>Search</span>
    </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
</body>

</html>