img{
    max-height: 8.75rem;
    position: relative;
    left: 20px;
    opacity: 97%;
}


html{
    background-image: url(./img/flowerbg.jpg);
    background-repeat: no-repeat;
   background-size: 100%;
   
}


#display-body{
   position: relative;
   top: 40px;
    opacity: 85%;
}

/* 
#footer-text{
    padding: 5rem;
}

#footer-body{
    padding-top: 10px;
    padding-bottom: 20px;
} */
